@import "../../../../app/variables.scss";

.link {
    color: $colorWhite;
    height: 30px;
    padding: 20px;
    border-radius: $radius;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.active {
    color: $colorDarkGrey;
    background-color: $colorWhite;
}