@import '../../../app/variables.scss';


.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;

    .title {
        font-size: $title;
        margin-bottom: 10px;
        color: $colorLightGrey;
        margin: 0;
    }

    .imageWrapper {
        position: relative;

        
        .image {
            // object-fit: cover;
            width: 100%;
            height: auto;
        }
    }
    
    .body {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}




.description {
    color: $colorLightGrey;
    font-size: $medium;
    text-align: justify;
}

.panel {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.actions {
    display: flex;
    gap: 20px;
    align-items: center;
}

.iconsWrapper {
    display: flex;
    gap: 20px;
    align-self: start;

    .icon {
        font-size: $extra;
        color: $colorLightGrey;
        transition: $transition;

        &:hover {
            cursor: pointer;
            color: $colorWhite;
        }
    }
}

.button {
    outline: none;
    border: 1px solid $colorLightGrey;
    color: $colorLightGrey;
    padding: 10px;
    font-size: $medium;
    border-radius: $radius;
    transition: $transition;

    span {
        position: relative;
        top: 2px;
        margin-left: 10px;
    }

    &:hover {
        cursor: pointer;
        color: $colorWhite;
        border: 1px solid $colorWhite;
    }
}

.learn {
    animation: pulseAnimation 3s infinite;

    &:hover {
        animation: none;
    }
}

@keyframes pulseAnimation {
    0% {
        border: 1px solid $colorLightGrey;
        color: $colorLightGrey;
    }

    50% {
        border: 1px solid $colorLightGrey;
        color: $colorLightGrey;
    }

    75% {
        border: 1px solid $colorWhite;
        color: $colorWhite;
    }

    100% {
        border: 1px solid $colorLightGrey;
        color: $colorLightGrey;
    }
}