@import '../../app/variables.scss';

.container {
    padding-inline: 10px;
    display: flex;
    flex-direction: column;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}

.title {
    font-size: $title;
    color: $colorWhite;
}

.item {
    display: flex;
    gap: 10px;
    align-items: center;
    border: 1px solid $colorLightGrey;
    border-radius: $radius;
    padding: 10px;
    transition: $transition;
    font-size: $medium;
    color: $colorLightGrey;
    background-color: $colorDarkGrey;

    &:hover {
        color: $colorWhite;
        border: 1px solid $colorWhite;
        cursor: pointer;
        background-color: $colorBlack;
    }
}

@media (max-width: 750px) {
    .container {

        .title {
            font-size: $medium;
        }

        .wrapper {
            gap: 10px;
        }
    
        .item {
            font-size: $text;
            padding: 5px;
        }
    }

}
