@import '/src/app/variables.scss';


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    color: $colorWhite;
    padding: 20px 10px;


    .imgContainer {
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        min-width: 320px;
        height: 320px;

        & img {
            width: auto;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
 

    .textContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $colorBlack;
    }

}

.name {
    font-size: $extra;
    padding: 0;
    margin: 0;
}

.description {
    color: $colorLightGrey;
    text-align: justify;
    font-size: $text;
    line-height: 22px;
}

.gmail {
    color: $colorLightGrey;
    transition: $transition;
    margin-bottom: 20px;

    &:hover {
        color: $colorWhite;
    }

    .icon {
        font-size: $medium;
    }

    .address {
        padding: 0 20px 0 10px;
        position: relative;
        top: -3px;
        font-size: $medium;
    }

    .copyButton {
        color: $colorWhite;
        outline: none;
        border: none;
        cursor: pointer;
        margin-right: 20px;
        background-color: $colorBlack;
    }

    .doneWrapper {

        .done {
            color: transparent;
        }
    }

}


@keyframes fadeAnimation {
    0% {
        color: transparent;
    }

    50%{
        color: $colorWhite;
    }

    100% {
        color: transparent;
    }
}

.animation {
    animation: fadeAnimation 0.5s ease-in;
}


.copied {
    color: $colorWhite;
}



.links { 
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: $medium;

    .link {
        color: $colorLightGrey;
        transition: $transition;

        &:hover {
            color: $colorWhite;
            transition: $transition;

            .github {
                color: $colorGitHub;
                transition: $transition;
            }
            .telegram {
                color: $colorTelegram;
                transition: $transition;
            }
            .resume {
                color: $colorResume;
                transition: $transition;
            }
            .linkedin {
                color: $colorLinkedin;
                transition: $transition;
            }
        }
    }
}

.socialIcons {
    margin-right: 10px;
    position: relative;
    top: 3px;
}

@media (max-width: 920px) {
    .container {
        flex-direction: column;
        justify-content: center;

        .imgContainer {
            align-self: start;
            min-width: 280px;
            height: 280px;
        }
    }
}

@media (max-width: 750px) {
    .container {
        padding: 0 10px;
    }

    .textContainer {
        justify-content: space-evenly;

        .name {
            font-size: $medium;
        }

        .links,
        .address,
        .icon {
            font-size: $text;
        }

        .address {
            padding-inline: 0;
            margin-right: 0px;
        }

        .copyButton {
            margin-right: 0px;
            padding-inline: 0;
        }

        .socialIcons {
            margin-right: 0px;
        }
    
    }

    .mailIcon {
        display: none;
    }

}

@media (max-width: 750px) {
    .container {
        align-items: center;
        gap: 20px;
    }

    .imgContainer {
        align-self: center;
    }
}

// @media (max-width: 450px) {

// }