@import '/src/app/variables.scss';

* {
  box-sizing: border-box;
  background-color: $colorBlack;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: $colorWhite;
}

.content {
  flex: 1 1 auto;
}

.container {
  width: 900px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (max-width: 900px) {
  .container {
    width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 480px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 320px;
  }
}

::-webkit-scrollbar {
  width: 10px;
  transition: $transition;
}

::-webkit-scrollbar-track {
  background: $colorBlack;
}

::-webkit-scrollbar-thumb {
  background: $colorLightGrey;
}

::-webkit-scrollbar-thumb:hover {
  background: $colorWhite;
}

::-moz-scrollbar {
  width: 10px;
  transition: $transition;
}

::-moz-scrollbar-track {
  background: $colorBlack;
}

::-moz-scrollbar-thumb {
  background: $colorLightGrey;
}

::-moz-scrollbar-thumb:hover {
  background: $colorWhite;
}

