$colorWhite: rgb(241, 242, 249);
$colorBlack: #131315;
$colorDarkGrey: #19191c;
$colorLightGrey: rgb(150, 147, 147);

$colorGitHub: #e3e3e3;
$colorTelegram: #2C9FD5;
$colorResume: rgb(136, 255, 125);
$colorLinkedin: #2864AA;

$transition: 0.3s;

$radius: 5px;

$extra: 30px;
$title: 24px;
$medium: 20px;
$text: 16px;