@import '/src/app/variables.scss';

.header {
    color: $colorWhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    min-height: 80px;
    background-color: $colorBlack;
}

.offer {
    border-radius: $radius;
    background-color: $colorBlack;

    .currently {
        color: $colorWhite;
    }

    .dot {
        border: 3px solid $colorWhite;
        border-radius: 50%;
        width: 2px;
        height: 2px;
        position: relative;
        top: -3px;
        left: 10px;
        animation: pulseAnimation 2s infinite;
    }
}

@keyframes pulseAnimation {
    0% {
        box-shadow: 0 0 0px $colorWhite;
    }

    30% {
        box-shadow:  0 0 10px $colorWhite;
    }

    100% {
        box-shadow: 0 0 0px $colorWhite;
    }
}

@media (max-width: 750px) {
    .header {
        font-size: $text;
    }
}
