@import '/src/app/variables.scss';

// .container {
//     background-color: transparent;
//     backdrop-filter: blur(20px);
// }

.nav {
    display: flex;
    gap: 20px;
    background-color: transparent;
    backdrop-filter: blur(20px);
}

.burgerButton {
    display: none;
    color: $colorWhite;
    cursor: pointer;
}

.navMobile {
    display: none;
}

@media (max-width: 780px) {
    .nav {
        display: none;
    }

    .burgerButton {
        display: block;
    }

    .navMobile {
        position: absolute;
        top: 65px;
        right: 0;
        width: 50%;
        height: calc(100vh - 65px);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-top: 20px;
    }

}