@import '/src/app/variables.scss';

.footer {
    margin-top: 20px;
    color: $colorLightGrey;
    transition: $transition;
    font-size: $medium;
    padding: 20px 10px;
}


.info {
    
    .link {
        &:hover {
            color: $colorWhite;
        }
    }
}

.iconGitHub {
    position: relative;
    top: 3px;
}

.stack {
    display: flex;
    margin-top: 20px;

    .icons {
        margin-left: 10px;
        display: flex;
        gap: 10px;

        .icon {
            transition: $transition;
            font-size: $title;
            color: $colorLightGrey;

            &:hover {
                color: $colorWhite;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 750px) {
    .footer {
        font-size: $text;
    }
    .stack .icons .icon {
        font-size: $text;
    }
}
