@import '../../app/variables.scss';

.container {
    padding-inline: 10px;
}

.title {
    font-size: $title;
    color: $colorWhite;
}

.list {
    padding-left: 20px;
}

.item {
    font-size: $medium;
    color: $colorLightGrey;
    padding-bottom: 10px;
}

@media (max-width: 750px) {
    .container {

        .title {
            font-size: $medium;
        }
    
        .item {
            font-size: $text;
            padding: 5px;
        }
    }

}
