@import '../../app/variables.scss';

.container {
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .title {
        font-size: $title;
        margin-bottom: 10px;
        color: $colorWhite;
    }

    .imageWrapper {
        position: relative;
        
        .image {
            width: 100%;
            height: auto;
            transform: scale(1.2);
        }
    }
    
    .body {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.description {
    color: $colorLightGrey;
    font-size: $medium;
    text-align: justify;
}

.infoBlock {
    display: flex;
    width: 100%;
    gap: 20px;

    .features {
        flex: 1 1 50%;
        color: $colorLightGrey;
        font-size: $medium;
    }

    .panel {
        flex: 1 1 50%;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.subTitle {
    font-size: $title;
    color: $colorLightGrey;
    padding: 0;
    margin: 0;
}

.list {
    padding-left: 20px;
    margin: 20px 0;
}

.item {
    padding-bottom: 10px;
}

.actions {
    display: flex;
    gap: 20px;
    align-items: center;
}

.iconsWrapper {
    display: flex;
    flex-direction: column;

    .icon {
        font-size: $medium;
        color: $colorLightGrey;
        transition: $transition;

        span {
            position: relative;
            top: 3px;
            margin-right: 3px;
        }

        &:hover {
            cursor: pointer;
            color: $colorWhite;
        }
    }
}

.button {
    outline: none;
    border: 1px solid $colorLightGrey;
    color: $colorLightGrey;
    padding: 10px;
    font-size: $medium;
    border-radius: $radius;
    transition: $transition;
    background-color: $colorDarkGrey;

    &:hover {
        cursor: pointer;
        color: $colorWhite;
        border: 1px solid $colorWhite;
        background-color: $colorBlack;
    }
}

@media (max-width: 920px) {
    .body {
        .infoBlock {
            .actions {
                .button {
                    font-size: $text;
                }
            }
        }
    }
}

@media (max-width: 750px) {
    .container {
        gap: 10px;

        .description {
            font-size: $text;
        }

        .title,
        .subTitle {
            font-size: $text;
        }

        .body {
            .infoBlock {
                .actions {
                    gap: 10px;

                    .button {
                        span {
                            display: none;
                        }
                    }
                }
            }
        }

        .body {
            .infoBlock {
                .features {
                    .list {
                        margin: 10px 0;

                        .item {
                            font-size: $text;
                        }
                    }
                }

                .panel {
                    .list {
                        margin: 10px 0;

                        .item {
                            font-size: $text;
                        }
                    }
                }
            }
        }
    
        .list {
            .item {
                font-size: $title;
            }
        }
    }

}

@media (max-width: 480px) {
    .infoBlock {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}